@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    & > * {
        width: 50%;
    }
    .form {
        display: flex;
        flex-direction: column;
    }
}