.container {

    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
    justify-content: center;
    .info {
        color: white;
    }
    .players {
        height: 70%;
        overflow: scroll;
    }
    .buzzer-container {        
        height: 30%;
        margin: 20px;
        .buzzer {
            border-radius: 50%;
            margin: auto;
            height: 150px;
            width: 150px;
            max-height: 100%;
            max-width: 100%;
            background-color: red;
            
            &.active {
                transform: scale(0.9)
            }
        }
        
    }
}