
.container {
    color: white;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    & > * {
        width: 50%;
    }
    .chips {
        display: flex;
        .chip {
            border-radius: 12px;
            color: black;
            font-size: 12px;
            background-color: white;
            padding: 5px;
            margin: 2px;
        }
    }
    .form {
        display: flex;
        flex-direction: column;

        .row {
            margin: 10px 0;
        }
    }
}