.result {
    cursor: pointer;
    border-radius: 5px;
    box-shadow:  0 0 1px 1px #0004;
    display: flex;
    margin: 10px 0;
    align-items: center;
    padding: 1em;
    background-color: #0001;
    justify-content: space-between;
    transition: all .2s;
    &:hover {
        box-shadow: 0 0 5px 1px #0004;
        transform: scale(1.05);
    }
    audio {
        width: 100px;
    }
    .infos {
        text-align: center;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin: 0 5px;
        }
    }
    .big {
        font-size: 18px;
    }
    .small {
        font-size: 14px;
    }
    img {
        width: 100px;
        height: 100px;
    }
}