
.page {
    height: 100%;
    color: #2A2A2A;
    &.active {
        animation: blink 1.2s infinite ease-in;
    }
    & > .container {
        color: white;
        display: flex;
        height: 100%;
        justify-content: space-around;
        overflow: hidden;
        & > * {
            margin: 30px;
            background-color: #4A4A4A;
            text-align: center;
            padding: 0 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 5px inset #2A2A2A;
        }
        .score {
            width: 30%;
        }
        .music {
            width: 65%;
        }
        .infos {
            transition: all .5s;
            &.hide {
                opacity: 0;
            }
        }
    }
}
@keyframes blink {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 20px 20px 25px inset, -20px -20px 25px inset;
    }
    100% {
        box-shadow: none;
    }
}